
{{ attach_library('eleague_top_player/drupal.eleague_top_player') }}


<div class="player-wrapper">
        <div class="player-container">
                <div class="player" style="height:100%" id="{{ player['#attached']['drupalSettings']['div_id'] }}"></div>
        </div>
</div>

