

#contact-message-media-credential-request-form-form {

  .field--name-field-first-name {
    &:before {
      content: 'In order to secure on-site media access for ELEAGUE events, please fill out the requested information in the form below. Once completed, click Submit and a member of the ELEAGUE PR team will respond to your request shortly.'
    }
  }

  &:before {
    content: 'Media Credential Request Form';
    font-size: 15px;
    line-height: 50px;

    @media screen and (min-width: 768px) {
      font-size: $heading-3-desktop;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 40px;
  }

  padding: 20px;

  .form-text, .form-email, .form-number {

    @media screen and (min-width: 768px) {
      position: absolute;
      left: 250px;
    }
    color: $primary;
  }

  .form-textarea {
    color: $primary;
  }

  .button {
    background-color: transparent;
    border: 1px solid #777;
    color: $secondary;
    display: inline-block;
    font-size: .875em;
    line-height: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color 500ms, color 500ms;
    transition: background-color 500ms, color 500ms;

    &:hover {
      background-color: $grey-3;
    }
  }
}