.standings {
	h1 {
		font-size: 24px;
	}
	.col-6:last-child {
		margin-left: -6px;
		border-left: 1px solid #777;

		h1 {
			padding-left: 10px;
		}
	}
	table {
		width: 100%;
	}
	th span {
		display: block;
		font-size: 10px;
		color: #777;
		margin-bottom: -7px;
		text-transform: uppercase;
	}
	tr {
		text-align: center;
		border-bottom: 1px solid #777;
	}
	td {
		font-size: 18px;
		padding: 20px 0;
	}
	th:nth-child(1),
	th:nth-child(3),
	th:nth-child(4),
	th:nth-child(5) {
		width: 12%;
		text-align: center; 
	}
	th:nth-child(2),
	td:nth-child(2) {
		text-align: left;
	}
	img {
		width: 38px;
		vertical-align: middle;
		margin-right: 10px;
	}

	@media (max-width: 961px) and (min-width: 642px) {
		th {
			font-size: 12px;
		}
		td {
			font-size: 14px;
		}
		img {
			width: 20px;
		}
	}

	@media (max-width: 641px) {
		.col-6 {
			width: 100%;
		}
		img {
			display: none;
		}
	}
	@media (max-width:481px) {
		th {
			font-size: 12px;
		}
		td {
    		font-size: 15px;
    	}
	}
}
