<div class="page">
  <main>
    {% if not node %}
      <div class="block-page-title">
        <!--<h1>{{ page["#title"] }}</h1>-->
      </div>
    {% endif %}
    {{ page.content }}
  </main>
  {% if page.footer %}
    <footer>
      {{ page.footer }}
    </footer>
  {% endif %}
</div>