{{ attach_library('eleague/standings') }}
<div class='standings'>
    <span class='tournid hide'>{{ content.json_id }}</span>
	<div class='col-6 groupa'>
		<h1>Group A Standings</h1>
		<table></table>
	</div>
	<div class='col-6 groupb'>
		<h1>Group B Standings</h1>
		<table></table>
	</div>
</div>